<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>今日の豚肉料理</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <header>
        <h1>今日の料理</h1>
    </header>

    <main>
        <form action="{{ url_for('summon') }}" method="POST">
            <h2>レシピを表示する</h2>
            <p>ランダムに料理のレシピが表示されます。</p>
            <button type="submit" class="btn-flat-border">スタート</button>
        </form>
    </main>
</body>
</html>
